text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 10px;
  fill: inherit;
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}
.day-cell-tooltip > span {
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.calendar-heatmap {
  box-sizing: initial;
}

p span
{
  display: block;
}

.heatmap {
  overflow: auto !important;
  width: 80%;
  float: left;
  height: 100%;
}

.heatmap-table{
  width: 18%;
  height: 100%;
  border-color: #cccccc !important;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  padding: 10px;
  float: right;
  margin-right: 5px;
}
.heatmap-container{
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.heatmap-table-price{
  font-weight: bold;
}
