@font-face {
    font-family: bloggerSansBold;
    src: url(../fonts/blogger_sans_bold.otf);
}

@font-face {
    font-family: bloggerSansRegular;
    src: url(../fonts/blogger_sans_regular.otf);
}



html {
  background: url(../img/bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F0F8FF !important;
}

#amenity-split {
  float: left;
  height: 100%;
  width: 45%;
  padding-left: 30px;
  background-color: #F0F8FF !important;
}

#choropleth-split {
  float: right;
  height: 100%;
  width: 52%;
  background-color: #F0F8FF !important;
}

.polar-split {
  height: 250px;
  width: 100%;
  /*border: 1px solid black;*/
  opacity: .7;
  background-color: #F0F8FF !important;
}

.heatmap-split {
  position: relative;
  height: 100%;
  width: 100%;
  /*border: 1px solid black;*/
  float: left;
  opacity: .7;
  background-color: #F0F8FF !important;
}

.wordcloud-split {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
  opacity: .7;
  background-color: #F0F8FF !important;
}

.amentity-section {
  height: 750px !important;
  background-color: #F0F8FF !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

#header-wrap {
    font-family: bloggerSansRegular;
    color: white;
    font-size: 25px;
    background: #34495e;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    padding: 10px;
    z-index: 1;
}
