html { 
  background: url(../img/bg.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #F0F8FF !important;
}

#amenity-split {
  float: left;
  height: 100%;
  width: 45%;
  padding-left: 30px;
}

#choropleth-split {
  float: right;
  height: 100%;
  width: 52%;
}

.polar-split {
  height: 250px;
  width: 100%;
  border: 1px solid black;
  opacity: .7;
  /*background-image: url('../img/polar.png');*/
  background-repeat: repeat-y; /* for vertical repeat */
  background-repeat: repeat-x; /* for horizontal repeat */
  background-color: #F0F8FF !important;
}

.heatmap-split {
  position: relative;
  height: 250px;
  width: 100%;
  border: 1px solid black;
  float: left;
  opacity: .7;
  /*background-image: url('../img/heatmap.png');*/
  background-repeat: repeat-y; /* for vertical repeat */
  background-repeat: repeat-x; /* for horizontal repeat */
}

.wordcloud-split {
  position: relative;
  height: 250px;
  width: 100%;
  border: 1px solid black;
  float: left;
  opacity: .7;
  /*background-image: url('../img/wordcloud.png');*/
  background-repeat: repeat-y; /* for vertical repeat */
  background-repeat: repeat-x; /* for horizontal repeat */
}

.amentity-section {
  height: 550px !important; 
}
